.videoCard{
    color: #fff;
    transition: transform 100ms;
    padding: 20px;
    width: 400px;
}

.videoCard:hover{
    transform: scale(1.09);
}

.videoCard h2{
    color: #fff;
    font-size: 18px;
    padding: 0px;
    margin: 0;
}
.videoCard p{
    color: #fff;
    font-size: 14px;
    padding: 0px;
    margin: 0;
}

.card-body{
    background-color: black;
}

.videocard__thumb{
    font-size: 20px !important;
}